            <!-- suppression message-->
            <div class="modal fade" id="myDeleteMessage" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                   <div class="modal-content">
                      <div class="modal-header">
                         <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
                         <h4 class="modal-title"></h4>
                      </div>
                      <div class="modal-body">
                         <div class="bootbox-body">Confirmer si vous etes sur de votre choix </div>
                      </div>
                      <div class="modal-footer">
                         <button type="button" class="btn btn-link" data-dismiss="modal">Close</button>
                         <button data-bb-handler="main" type="button" class="btn btn-primary" id="confirm">Confirmer</button>
                      </div>
                   </div>
                </div>
             </div>
             <!-- / suppression message-->