{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Valactif learning</title>
	<link rel="icon" type="image/png" href="{% static 'images/V-L.png' %}" sizes="16x16">
	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css">
	<link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->
	<!-- Core JS files -->
	<script src="{% static 'js/main/jquery.min.js' %}"></script>
	<script src="{% static 'js/main/bootstrap.bundle.min.js' %}"></script>
	<!-- /core JS files -->
	<!-- Theme JS files -->
	<script src="{% static 'js/app.js' %}"></script>
	<!-- /theme JS files -->
</head>
<body>
	<!-- Page content -->
	<div class="page-content">
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Inner content -->
			<div class="content-inner">
				{% include 'partials/navBarLogIn.html' %}
				<!-- Content area -->
				<br>
				<br>
				<br>
				<div class="content d-flex justify-content-center align-items-center">
					<!-- Login form -->
					<form class="login-form wmin-sm-400" action="{% url 'login' %}" method="POST">
						{% csrf_token %}
						<div class="card mb-0">
							<div class="tab-content card-body">
								<div class="tab-pane fade show active" id="login-tab1">
									<div class="text-center mb-3">
										<i class="icon-reading icon-2x text-primary border-primary border-3 rounded-pill p-3 mb-3 mt-1"></i>
										<h5 class="mb-0">Login to your account</h5>
										<span class="d-block text-muted">Your credentials</span>
									</div>
									{% include 'partials/messages.html' %}
									<div class="form-group form-group-feedback form-group-feedback-left">
										<input name="username" type="text" class="form-control" placeholder="Username" required>
										<div class="form-control-feedback">
											<i class="icon-user text-muted"></i>
										</div>
									</div>
									<div class="form-group form-group-feedback form-group-feedback-left">
										<input name="password" type="password" class="form-control" placeholder="Password" required>
										<div class="form-control-feedback">
											<i class="icon-lock2 text-muted"></i>
										</div>
									</div>
									<div class="form-group d-flex align-items-center">
										<label class="custom-control custom-checkbox">
											<input type="checkbox" name="remember" class="custom-control-input" checked>
											<span class="custom-control-label">Remember</span>
										</label>
										<a href="{% url 'password_reset' %}" class="ml-auto">Forgot password?</a>

									</div>
									<div class="form-group">
										<button type="submit" class="btn btn-primary btn-block">Sign in <i class="icon-arrow-right14 position-right"></i></button>
									</div>
									<div class="form-group text-center text-muted content-divider">
										<span class="px-2">Don't have an account?</span>
									</div>
									<div class="form-group">
										<a href="{% url 'signup' %}" class="btn btn-light btn-block">Sign up</a>
									</div>
									<span class="form-text text-center text-muted">By continuing, you're confirming that you've read our <a href="#">Terms &amp; Conditions</a> and <a href="#">Cookie Policy</a></span>
								</div>
							</div>
						</div>
					</form>
					<!-- /login form -->
				</div>
				<!-- /content area -->
                {% include 'partials/footer.html' %}
			</div>
			<!-- /inner content -->
		</div>
		<!-- /main content -->
	</div>
	<!-- /page content -->
</body>
</html>