
{% extends "libraries2.html" %}
{%load static%}
{% block content %}
    <!-- Header Start -->
    <div class="container-fluid page-header1" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">About</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">About</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="row align-items-center">
                <div class="container py-5">
                    <div class="text-center mb-5">
                        <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">About Us</h5>
                        <h1>Innovative Way To Learn</h1>
                    </div>
                    {% for About in about %}
                    <p>{{About.description}}</p>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
</body>
<style>
    .page-header1 {
   background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://valactif-crm1.s3.eu-west-3.amazonaws.com/images/pavan-trikutam-poNsj-vya34-unsplash.jpg"), no-repeat center center;
   background-size: cover;
  }
</style>
</html>
{% endblock %}
