
{%load static%}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Valactif learning</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <!-- Mobile Metas -->
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Favicon -->
    <link href="{% static 'website/img/favicon.ico' %}" rel="icon">
    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900" rel="stylesheet"> 
      <!-- Bootstrap core CSS -->
      <link href="{% static 'css-home/css/bootstrap.min.css' %}" rel="stylesheet">
      <!-- FontAwesome Icons core CSS -->
      <link href="{% static 'css-home/css/font-awesome.min.css' %}" rel="stylesheet">
      <!-- Custom styles for this template -->
      <link href="{% static 'css-home/css/font-awesome.min.css' %}" rel="stylesheet">
      <!-- Responsive styles for this template -->
      <link href="{% static 'css-home/style.css' %}" rel="stylesheet">
      <!-- Colors for this template -->
      <link href="{% static 'css-home/css/colors.css' %}" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <!-- Libraries Stylesheet -->
    <link href="{% static 'website/lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">
    <!-- Customized Bootstrap Stylesheet -->
    <link href="{% static 'website/css/style.css' %}" rel="stylesheet">
</head>
<body>
    <!-- Topbar Start -->
    <div class="container-fluid d-none d-lg-block">
        <div class="row align-items-center py-4 px-xl-5">
            <div class="col-lg-3">
                <a href="{% url 'home' %}" class="text-decoration-none">
                    <h1 class="m-0"><span class="text-primary">VALACTIF</span></h1>
                    <h1 class="m-0"><span class="text-primary"></span>LEARNING</h1>

                </a>
            </div>
            <div class="col-lg-3 text-right">
                <div class="d-inline-flex align-items-center">
                    <i class="fa fa-2x fa-map-marker-alt text-primary mr-3"></i>
                    <div class="text-left">
                        <h6 class="font-weight-semi-bold mb-1">Our Office</h6>
                        <small>Casablanca, Morocco</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right">
                <div class="d-inline-flex align-items-center">
                    <i class="fa fa-2x fa-envelope text-primary mr-3"></i>
                    <div class="text-left">
    
                        <h6 class="font-weight-semi-bold mb-1">Email Us</h6>
                        <small>info@valactif.com</small>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 text-right">
                <div class="d-inline-flex align-items-center">
                    <i class="fa fa-2x fa-phone text-primary mr-3"></i>
                    <div class="text-left">
                        <h6 class="font-weight-semi-bold mb-1">Call Us</h6>
                        <small>+212 528 0511 20</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Topbar End -->
    <!-- Navbar Start -->
    <div class="container-fluid">
        <div class="row border-top px-xl-5">
            <div class="col-lg-3 d-none d-lg-block">
                <!--  <a class="d-flex align-items-center justify-content-between bg-secondary w-100 text-decoration-none" data-toggle="collapse" href="#navbar-vertical" style="height: 67px; padding: 0 30px;">
                  <h5 class="text-primary m-0">Home</h5>
                    <i class="fa fa-angle-down text-primary"></i> 
                </a> -->
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg bg-light navbar-light py-3 py-lg-0 px-0">
                    <a href="{% url 'home' %}" class="text-decoration-none d-block d-lg-none">
                        <h1 class="m-0"><span class="text-primary">E</span>COURSES</h1>
                    </a>
                    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav py-0">
                            <a href="{% url 'home' %}" class="nav-item nav-link">Home</a>
							<a href="{% url 'about' %}" class="nav-item nav-link">About</a>
                            <a href="{% url 'courses' %}" class="nav-item nav-link">Courses</a>
                            <a href="{% url 'blogs' %}" class="nav-item nav-link">Blog</a>
                            <div class="nav-item dropdown">
                               <!-- <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Blog</a>
                                <div class="dropdown-menu rounded-0 m-0">
                                    <a href="blog.html" class="dropdown-item">Blog List</a>
                                    <a href="single.html" class="dropdown-item">Blog Detail</a>
                                </div> -->
                            </div>
                            <a href="{% url 'contact' %}" class="nav-item nav-link">Contact</a>
                        </div>
                        <a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="{% url 'login' %}">Sign in</a>
                        <a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="{% url 'signup' %}">Sign up</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Navbar End -->
    <!--- Article -->
<div id="wrapper">
    <div class="collapse top-search" id="collapseExample">
        <div class="card card-block">
            <div class="newsletter-widget text-center">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="What you are looking for?">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </form>
            </div><!-- end newsletter -->
        </div>
    </div><!-- end top-search -->
    <section class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-10 offset-lg-1"  >
                    <div class="page-wrapper">
                        {% for article in sarticle  %}
                        <div class="blog-title-area text-center" href="{% url 'article'  article.id %}">
                            <h3>{% block title %} {{article.title}} {% endblock title %}<br></h3>
                        </div><!-- end title -->
                        <div class="single-post-media">
                            <img src="https://valactif-crm1.s3.eu-west-3.amazonaws.com/{{article.url_photo}}" alt="" class="img-fluid">
                        </div><!-- end media -->
                        <div class="blog-content">  
                            <div class="pp">
                                <p>{{ article.description|default_if_none:"&nbsp;" }}</p>
                                <h3><strong>{{ article.title1|default_if_none:"&nbsp;" }}</strong></h3>
                                <p>{{ article.description1|default_if_none:"&nbsp;" }}</p>
                            </div><!-- end pp -->
                            <!-- <img src="" alt="" class="img-fluid img-fullwidth"> -->
                            <div class="pp">
                                <h3><strong>{{ article.title2|default_if_none:"&nbsp;" }}</strong></h3>
                                 <br>
                                <p>{{ article.description2|default_if_none:"&nbsp;" }}</p>
                                <h3><strong>{{ article.title3|default_if_none:"&nbsp;" }} </strong></h3>
                                <p> {{ article.description3|default_if_none:"&nbsp;" }}</p>
                            </div><!-- end pp -->
                            <div class="pp">
                                <h3><strong>{{ article.title4|default_if_none:"&nbsp;" }}</strong></h3>
                                <p>{{ article.description4|default_if_none:"&nbsp;" }}</p> </p>
                            </div><!-- end pp -->
                            <div class="pp">
                                <h3><strong>{{ article.title5|default_if_none:"&nbsp;" }}</strong></h3>
                                <p>{{ article.description5|default_if_none:"&nbsp;" }}</p> </p>
                            </div><!-- end pp -->
                        </div><!-- end content -->
                        {%endfor%}  
                        <br> 
                        <br>
                        <br>
                        <div class="custombox clearfix">
                            <h4 class="small-title">AUTRES ARTICLES RECOMMANDÉS</h4>
                            <div class="row">
                                {% for article in Article  %}
                                {% if forloop.counter <= 2 %}
                                <div class="col-lg-6">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="{% url 'article' article.id %}"title="">
                                                <img src="https://valactif-crm1.s3.eu-west-3.amazonaws.com/{{article.url_photo}}" alt="" class="img-fluid image-resize">
                                                <div class="hovereffect">
                                                    <span class=""></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta ">
                                            <h4><a href="{% url 'article' article.id %}" title="">{{article.title}}</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end col -->
                                {% endif %}
                                {%endfor%}  
                            </div><!-- end row -->
                        </div><!-- end custom-box -->
                        <hr class="invis1">
                        <hr class="invis1">
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
</div><!-- end wrapper -->    
    <!-- End Article -->
     <!-- Footer Start -->
   <div class="container-fluid bg-dark text-white py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
    <div class="row pt-5">
        <div class="col-lg-7 col-md-12">
            <div class="row">
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Get In Touch</h5>
                    <p><i class="fa fa-map-marker-alt mr-2"></i>Casablanca, Morocco</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+212 528 0511 20</p>
                    <p><i class="fa fa-envelope mr-2"></i>info@valactif.com</p>
                    <div class="d-flex justify-content-start mt-4">
                        <a class="btn btn-outline-light btn-square mr-2" href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                </div>
                <div class="col-md-6 mb-5">
                    <h5 class="text-primary text-uppercase mb-4" style="letter-spacing: 5px;">Newsletter</h5>
            <p>Rebum labore lorem dolores kasd est, et ipsum amet et at kasd, ipsum sea tempor magna tempor. Accu kasd sed ea duo ipsum. Dolor duo eirmod sea justo no lorem est diam</p>
            <div class="w-100">
                <div class="input-group">
                    <input type="text" class="form-control border-light" style="padding: 30px;" placeholder="Your Email Address">
                    <div class="input-group-append">
                        <button class="btn btn-primary px-4">Sign Up</button>
                    </div>
                </div>
            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bg-dark text-white border-top py-4 px-sm-3 px-md-5" style="border-color: rgba(256, 256, 256, .1) !important;">
    <div class="row">
        <div class="col-lg-6 text-center text-md-left mb-3 mb-md-0">
            <p class="m-0 text-white">&copy; <a href="#">VLearning</a>. All Rights Reserved. 2022 
            </p>
        </div>
        <div class="col-lg-6 text-center text-md-right">
            <ul class="nav d-inline-flex">
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Privacy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Terms</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">FAQs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white py-0" href="#">Help</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
<style>
    .image-resize {
        height: 240px
    }
</style>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'website/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'website/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<!-- Template Javascript -->
<script src="{% static 'website/js/main.js' %}"></script>
<!-- Core JavaScript
    ================================================== -->
    <script src="{% static 'css-home/js/jquery.min.js' %}"></script>
    <script src="{% static 'css-home/js/tether.min.js' %}"></script>
    <script src="{% static 'css-home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css-home/js/masonry.js' %}"></script>
    <script src="{% static 'css-home/js/custom.js' %}"></script>
</body>
</html>
{% endblock content %}
