{% extends "libraries2.html" %}
{%load static%}
{% block content %}
    <!--- Article -->
<br/>
<br/>
<br/>
<div id="wrapper">
    <div class="collapse top-search" id="collapseExample">
        <div class="card card-block">
            <div class="newsletter-widget text-center">
                <form class="form-inline">
                    <input type="text" class="form-control" placeholder="What you are looking for?">
                    <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                </form>
            </div><!-- end newsletter -->
        </div>
    </div><!-- end top-search -->
    <section class="section wb">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-10 offset-lg-1"  >
                    <div class="page-wrapper">
                        {% for article in sarticle  %}
                        <div class="blog-title-area text-center" href="{% url 'article'  article.id %}">
                            <h3>{% block title %} {{article.title}} {% endblock title %}<br></h3>
                        </div><!-- end title -->
                        <br/>
                        <br/>
                        <div class="single-post-media">
                            <img src="https://valactif-crm1.s3.eu-west-3.amazonaws.com/{{article.url_photo}}" alt="" class="img-fluid">
                        </div><!-- end media -->
                        <div class="blog-content">  
                            <div class="pp">
                                <p>{{ article.description|default_if_none:"&nbsp;" }}</p>
                                <h3><strong>{{ article.title1|default_if_none:"&nbsp;" }}</strong></h3>
                                <p>{{ article.description1|default_if_none:"&nbsp;" }}</p>
                            </div><!-- end pp -->
                            <!-- <img src="" alt="" class="img-fluid img-fullwidth"> -->
                            <div class="pp">
                                <h3><strong>{{ article.title2|default_if_none:"&nbsp;" }}</strong></h3>
                                 <br>
                                <p>{{ article.description2|default_if_none:"&nbsp;" }}</p>
                                <h3><strong>{{ article.title3|default_if_none:"&nbsp;" }} </strong></h3>
                                <p> {{ article.description3|default_if_none:"&nbsp;" }}</p>
                            </div><!-- end pp -->
                            <div class="pp">
                                <h3><strong>{{ article.title4|default_if_none:"&nbsp;" }}</strong></h3>
                                <p>{{ article.description4|default_if_none:"&nbsp;" }}</p> </p>
                            </div><!-- end pp -->
                            <div class="pp">
                                <h3><strong>{{ article.title5|default_if_none:"&nbsp;" }}</strong></h3>
                                <p>{{ article.description5|default_if_none:"&nbsp;" }}</p> </p>
                            </div><!-- end pp -->
                        </div><!-- end content -->
                        {%endfor%}  
                        <br> 
                        <br>
                        <br>
                        <div class="custombox clearfix">
                            <h4 class="small-title">AUTRES ARTICLES RECOMMANDÉS</h4>
                            <div class="row">
                                {% for article in Article  %}
                                {% if forloop.counter <= 2 %}
                                <div class="col-lg-6">
                                    <div class="blog-box">
                                        <div class="post-media">
                                            <a href="{% url 'article' article.id %}"title="">
                                                <img src="https://valactif-crm1.s3.eu-west-3.amazonaws.com/{{article.url_photo}}" alt="" class="img-fluid image-resize">
                                                <div class="hovereffect">
                                                    <span class=""></span>
                                                </div><!-- end hover -->
                                            </a>
                                        </div><!-- end media -->
                                        <div class="blog-meta ">
                                            <h4><a href="{% url 'article' article.id %}" title="">{{article.title}}</a></h4>
                                        </div><!-- end meta -->
                                    </div><!-- end blog-box -->
                                </div><!-- end col -->
                                {% endif %}
                                {%endfor%}  
                            </div><!-- end row -->
                        </div><!-- end custom-box -->
                        <hr class="invis1">
                        <hr class="invis1">
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
</div><!-- end wrapper -->    
    <!-- End Article -->
   
<!-- Back to Top -->
<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
<style>
    .image-resize {
        height: 240px
    }
</style>
<!-- JavaScript Libraries -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
<script src="{% static 'website/lib/easing/easing.min.js' %}"></script>
<script src="{% static 'website/lib/owlcarousel/owl.carousel.min.js' %}"></script>
<!-- Template Javascript -->
<script src="{% static 'website/js/main.js' %}"></script>
<!-- Core JavaScript
    ================================================== -->
    <script src="{% static 'css-home/js/jquery.min.js' %}"></script>
    <script src="{% static 'css-home/js/tether.min.js' %}"></script>
    <script src="{% static 'css-home/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'css-home/js/masonry.js' %}"></script>
    <script src="{% static 'css-home/js/custom.js' %}"></script>
</body>
</html>
{% endblock content %}
