{%load static%}
<!-- Main navbar -->
{% csrf_token %}

    <!-- Bootstrap CSS -->
    <!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css:BanAcc/style.css' %}">
    <!-- Colors CSS -->
    <!-- ALL VERSION CSS -->
    <link rel="stylesheet" href="{% static 'css:BanAcc/css/versions.css' %}">





<body class="realestate_version">
	<ul class='slideshow'>
		<li>
			<span>Summer</span>
		</li>
		<li>		
			<span>Fall</span>
		</li>
		<li>		
			<span>Winter</span>
		</li>
		<li>
			<span>Spring</span>
		</li>
	</ul>
    <div class="parallax first-section">
        <div class="container">
            <div class="row">
                <div class="col-md-6 wow slideInLeft hidden-xs hidden-sm">
                    <div class="big-tagline clearfix">
                        <h2>Welcome to Valactif Learning</h2>
                        <p class="lead">With Real Estate responsive How has Realiste contributed to this sector? The first and foremost point about the real estate market is that due to a large number. </p>
                        <ul class="list-inline text-white m-0">
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Labore eos amet dolor amet diam</li>
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Etsea et sit dolor amet ipsum</li>
                            <li class="py-2"><i class="fa fa-check text-primary mr-3"></i>Diam dolor diam elitripsum vero.</li>
                        </ul>
                        <div class="btn-toolbar">
                        <button data-scroll href="#gallery" class="btn btn-light btn-radius grd1 btn-brd buttonBanniere">Liste des cours</button>
                        <button data-scroll href="#gallery" class="btn btn-light btn-radius grd1 btn-brd buttonBanniere">Get Free Courses</button>
                        </div>
                    </div>
                </div>
				<div class="col-md-6 col-sm-12">
                    <div class="contact_form">
                        <h3 style="text-align: center">QUICK APPOINTMENT</h3>
                        <form name="sentMessage" id="contactForm" novalidate="novalidate" method="POST" action="{% url 'contact' %}">
                            <fieldset class="row-fluid">
                                <div class="col-12">
                                    <input type="text" name="first_name1" id="first_name1" class="form-control" placeholder="First Name">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="last_name1" id="last_name1" class="form-control" placeholder="Last Name">
                                </div>
                                <div class="col-12">
                                    <input type="email" name="email1" id="email1" class="form-control" placeholder="Your Email">
                                </div>
                                <div class="col-12">
                                    <input type="text" name="phone1" id="phone1" class="form-control" placeholder="Your Phone">
                                </div>                              
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
                                    <a type="submit" value="SEND" id="submit1" class="btn btn-light btn-radius btn-brd grd1 btn-block">Get started </a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div><!-- end row -->
        </div><!-- end container -->
    </div><!-- end section -->
    <!-- ALL JS FILES -->
    <script src="{% static 'css:BanAcc/js/all.js' %}"></script>
    <style>
        .buttonBanniere{
            margin: 13px;
        }     
    </style>
</body>