
{% extends "libraries2.html" %}
{%load static%}
{% block content %}
    <div class="container-fluid page-header1" style="margin-bottom: 90px;">
        <div class="container">
            <div class="d-flex flex-column justify-content-center" style="min-height: 300px">
                <h3 class="display-4 text-white text-uppercase">Courses</h3>
                <div class="d-inline-flex text-white">
                    <p class="m-0 text-uppercase"><a class="text-white" href="{% url 'home' %}">Home</a></p>
                    <i class="fa fa-angle-double-right pt-1 px-3"></i>
                    <p class="m-0 text-uppercase">Courses</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
    <!-- Courses Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">All Courses</h5>
            </div>
            <div class="row ">
                {% for lecon in page.object_list %}
                <div class="col-lg-4 col-md-6 mb-4">
                    <div class="rounded overflow-hidden mb-2 ">
                        <img class=" image-res  " src="https://valactif-crm1.s3.eu-west-3.amazonaws.com/{{lecon.url_photo}}" alt="" >
                        <div class="bg-secondary p-4 image-resize">
                            <div class="d-flex justify-content-between mb-3 ">
                             <!--   <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>220 Commandes</small> -->
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>{{lecon.duree}} Min</small>
                            </div>
                            <a class="h5" href="{% url 'lecons' lecon.id %}">{{lecon.name_lecon}}</a></a>
                            <div class="border-top mt-4 pt-4">
                                <div class="d-flex justify-content-between">
                                    <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i> <small>{{lecon.get_level_display}}</small></h6>
                                    <h5 class="m-0">{{lecon.price}} MAD</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div> 
                {%endfor%}     
            </div>
            <div class="col-12">
                <nav aria-label="Page navigation">
                    <ul class="pagination pagination-lg justify-content-center mb-0">
                      <li class="page-item ">
                        {% if page.has_previous %}
                        <a class="page-link" href="{% url 'courses' %}?page={{ page.previous_page_number }}" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Previous</span>
                        </a>
                        {% endif %}
                      </li>
                      {% for num_page in page.paginator.page_range %}
                      {% if page.number == num_page %}
                      <li class="page-item active ">
                      <a class="page-link"  href="{% url 'courses' %}?page={{ num_page }}">{{num_page}} </a>
                      </li>
                      {% else %}
                      <li class="page-item  ">
                        <a class="page-link"  href="{% url 'courses' %}?page={{ num_page }}">{{num_page}} </a>
                      </li>
                      {% endif %}
                      {% endfor %}
                      <li class="page-item ">
                        {% if page.has_next %}
                        <a class="page-link" href="{% url 'courses' %}?page={{ page.next_page_number }}" aria-label="Next">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Next</span>
                        </a>
                        {% endif %}
                      </li>
                    </ul>
                  </nav>
            </div>
        </div>
    </div>
    <!-- Courses End -->
    <style>
        .image-resize {
            height: 240px
        }
        .image-res {
            height: 350px
        }
        .page-header1 {
         background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://valactif-crm1.s3.eu-west-3.amazonaws.com/images/pexels-francesco-ungaro-96422.jpg"), no-repeat center center;
         background-size: cover;
        }
    </style>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% endblock %}
