
{% extends "libraries2.html" %}
{%load static%}
{% block content %}
<div class="container-fluid p-0 pb-5 mb-5">
    <div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
        {% include 'main/banniere.html' %}
    </div>
</div>
    <!-- Carousel End -->
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Courses</h5>
                <h1>Our Popular Courses</h1>
            </div>
            <div class="row">
                {% for lecon in lecons %}
                {% if forloop.counter <= 6 %}
                <div class="col-lg-4 col-md-6 mb-4">´
                    <div class="rounded overflow-hidden mb-2">
                        <div class="bg-secondary p-4 image-resize">
                            <div class="d-flex justify-content-between mb-3">
                             <!--   <small class="m-0"><i class="fa fa-users text-primary mr-2"></i>220 Commandes</small> -->
                                <small class="m-0"><i class="far fa-clock text-primary mr-2"></i>{{lecon.duree}} Min</small>
                            </div>
                            <a class="h5" href="{% url 'lecons' lecon.id %}">{{lecon.name_lecon}}</a>
                            <br/>
                            <p class="h7">{{lecon.introduction}} nyhuhuhuhuhu bhnhbnnynunun hyununuuuj ujujujujjjuuj dmaseuwsdzfes ghvmhgfdhmhg hkwdfwhfjhwjfw fweh wefwejrhk wer</p>
                        </div>
                        <a href="{% url 'lecons' lecon.id %}"><img class=" image-res " href="{% url 'lecons' lecon.id %}" src="https://valactif-crm1.s3.eu-west-3.amazonaws.com/{{lecon.url_photo}}" alt="" ></a>
                        <div class="bg-secondary p-4 price-resize">
                                <div class="d-flex justify-content-between price-resize">
                                    <a  href="{% url 'lecons' lecon.id %}" class="m-0">Voir plus ...</a>
                                    {% if lecon.price == 0 %}
                                    <h4 class="m-0 gratuit" href="{% url 'lecons' lecon.id %}">Gratuit</h4>
                                    {% else %}
                                    <h4 class="m-0" href="{% url 'lecons' lecon.id %}">{{lecon.price}} MAD</h4>
                                    {% endif %}
                                </div>
                        </div>
                        
                    </div>
                </div> 
                {% endif %}
                {%endfor%}   
                <a class="btn btn-primary py-2 px-4 ml-auto d-none d-lg-block" href="{% url 'courses'%}">Voir plus...</a>
            </div>
        </div>
    </div>
    <!-- Courses End -->
    <!-- Blog Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-5">
                <h5 class="text-primary text-uppercase mb-3" style="letter-spacing: 5px;">Articles</h5>
                <h1>Derniers Articles</h1>
            </div>
            <div class="row pb-3">
                {% for article in sarticle  %}
                {% if forloop.counter <= 3 %}
                <div class="col-lg-4 mb-4">
                    <div class="blog-item position-relative overflow-hidden rounded mb-2">
                        <img class=" image-fix" src="https://valactif-crm1.s3.eu-west-3.amazonaws.com/{{article.url_photo}}"" alt="">
                        <a class="blog-overlay text-decoration-none" href="{% url 'article' article.id %}">
                            <h5 class="text-white mb-3">{{article.title}}</h5>
                            <p class="text-primary m-0"></p>
                        </a>
                    </div>
                </div>
                {% endif %}
                {% endfor%}
            </div>
        </div>
    </div>
    <!-- Blog End -->
     <style>
        .gratuit{
            color: rgb(29, 187, 29);
        }
        .image-resize {
            height: 230px
        }
        .price-resize {
            height: 70px
        }
        .image-res {
            height: 350px
        }
        .image-fix {
            height: 300px;
        }
        .col-lg-81 {
            flex: 0 0 66.66667%;
            max-width: 66.66667%;
        }
        .justify-content-center1 {
        justify-content: center !important;
        }
        .carousel1 {
        position: relative;
        }
        .text-center1 {
        text-align: center !important;
        }
        .text-primary1 {
        color: #007bff !important;
        }
        .font-weight-normal1 {
        font-weight: 400 !important;
        }
        .img-fluid1 {
        max-width: 100%;
        height: auto;
        }
        .mx-auto1 {
        margin-right: auto !important;
        }
        .mx-auto1 {
        margin-left: auto !important;
        }
    </style>
    <!-- Back to Top -->
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
{% endblock %}

