
{% extends "libraries.html" %}
{%load static%}
{% block content %}
<style>
	.video{
		background-size:cover;
		align-items: center;
		justify-content: center;
	}
	.player {
		max-width:auto;
		box-shadow:0 0 20px rgba(0,0,0,0.2);
		position: relative;
		font-size: 0;
		overflow: hidden;
		margin: 0;
		padding: 0;
		display:flex;
	}
	.image {
		max-width:auto;
		position: relative;
		overflow: hidden;
		margin: 0;
		padding: 0;
		display:flex;
		width: 100%;
		background-size:cover;
		align-items: center;
		justify-content: center;
	}
	.player__video {
		width: 100%;
	}
	.player__button {
		background:none;
		border:0;
		line-height:1;
		color:white;
		outline:0;
		padding: 0;
		cursor:pointer;
		max-width:50px;
		min-width: 50px;
	}
	.player__button:focus {
		border-color: #ffc600;
	}
	.player__icon {
		background:none;
		color:white;
		outline:0;
		padding: 0 0 0 5px;
		max-width:40px;
		/*border: 1px solid white;*/
		text-align: center;
	}
	.player__slider {
		width:10px;
		height:30px;
	}
	.player__controls {
		display:flex;
		position: absolute;
		bottom:0;
		width: 100%;
		transform: translateY(100%) translateY(-5px);
		transition:all .3s;
		flex-wrap:wrap;
		background:rgba(0,0,0,0.2);
	}
	.player:hover .player__controls {
		transform: translateY(0);
	}
	.player:hover .progress {
		height:15px;
	}
	.player__controls > * {
		flex:1;
	}
	.buttons_and_scrubbers {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
	.progress {
		display:flex;
		flex:10;
		position: relative;
		flex-basis:100%;
		height:5px;
		transition:height 0.3s;
		background:rgba(0,0,0,0.5);
		cursor:ew-resize;
	}
	.progress__filled {
		width:0;
		background-color:#ffc600;
		flex:0;
		flex-basis:0;
	}
	input[type=range] {
		-webkit-appearance: none;
		background: transparent;
		width: 100%;
		margin: 0 5px;
	}
	input[type=range]:focus {
		outline: none;
	}
	input[type=range]::-webkit-slider-runnable-track {
		width: 100%;
		height: 8.4px;
		cursor: pointer;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
		background: rgba(255,255,255,0.8);
		border-radius: 1.3px;
		border: 0.2px solid rgba(1, 1, 1, 0);
	}
	input[type=range]::-webkit-slider-thumb {
		height: 15px;
		width: 15px;
		border-radius: 50px;
		background: #ffc600;
		cursor: pointer;
		-webkit-appearance: none;
		margin-top: -3.5px;
		box-shadow:0 0 2px rgba(0,0,0,0.2);
	}
	input[type=range]:focus::-webkit-slider-runnable-track {
		background: #bada55;
	}
	input[type=range]::-moz-range-track {
		width: 100%;
		height: 8.4px;
		cursor: pointer;
		box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0 0 1px rgba(13, 13, 13, 0);
		background: #ffffff;
		border-radius: 1.3px;
		border: 0.2px solid rgba(1, 1, 1, 0);
	}
	input[type=range]::-moz-range-thumb {
		box-shadow: 0 0 0 rgba(0, 0, 0, 0), 0 0 0 rgba(13, 13, 13, 0);
		height: 15px;
		width: 15px;
		border-radius: 50px;
		background: #ffc600;
		cursor: pointer;
	}
</style>
<body>
	<!-- Page content -->
	<div class="page-content">
		<!-- Main sidebar -->
		<!-- #####################/main sidebar ###################-->
		<!-- Main content -->
		<div class="content-wrapper">
			<!-- Inner content -->
			<div class="content-inner">
				<!-- Content area -->
				<div class="content">
					<!-- Course overview -->
					<div class="card">
						<div class="card-header header-elements-lg-inline">
							<h5 class="card-title">{{chapitre.name_chapitres}}</h5>
							<div class="header-elements">
								<ul class="list-inline list-inline-dotted mb-0 mt-2 mt-lg-0">
									<li class="list-inline-item">Rating: <span class="font-weight-semibold">4.85</span></li>
									<li class="list-inline-item">
										<i class="icon-star-full2 font-size-base text-warning"></i>
										<i class="icon-star-full2 font-size-base text-warning"></i>
										<i class="icon-star-full2 font-size-base text-warning"></i>
										<i class="icon-star-full2 font-size-base text-warning"></i>
										<i class="icon-star-full2 font-size-base text-warning"></i>
										<span class="text-muted ml-1">(439)</span>
									</li>
								</ul>
		                	</div>
						</div>
						<!-- Video -->
						<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-10" >
								
								<div class="mb-4">
									<div class="video">
										<div class="player">
											<!-- Video player 1422x800 -->
											<video class="player__video viewer" controls="" autoplay="">
											<source src="https://valactif-crm1.s3.eu-west-3.amazonaws.com/{{chapitre.url}}"type="video/mp4">							  
											Your browser does not support the video tag.
											</video>
										</div>

									</div>
									<div class="mt-1 mb-4">
										<h6 class="font-weight-semibold">Introduction</h6>
											<p>{{chapitre.introduction}}</p>
									</div>
								</div>
							</div>
							<div class="col-sm-1"></div>
						</div>
						<br>
						<!-- Video -->
						<div class="nav-tabs-responsive bg-light border-top">
							<ul class="nav nav-tabs nav-tabs-bottom flex-nowrap mb-0">
								<li class="nav-item"><a href="#course-overview" class="nav-link active" data-toggle="tab"><i class="icon-menu7 mr-2"></i> Overview</a></li>
								<li class="nav-item"><a href="#course-pdf" class="nav-link" data-toggle="tab"><i class="icon-people mr-2"></i>PDF</a></li>
								<li class="nav-item"><a href="#course-notes" class="nav-link" data-toggle="tab"><i class="icon-calendar3 mr-2"></i>Notes</a></li>
								<li class="nav-item"><a href="#course-discussions" class="nav-link" data-toggle="tab"><i class="icon-calendar3 mr-2"></i>Discussions</a></li>
								<li class="nav-item"><a href="#course-ressources" class="nav-link" data-toggle="tab"><i class="icon-calendar3 mr-2"></i>Resources</a></li>
							</ul>
						</div>
						<div class="tab-content">
							<div class="tab-pane fade show active" id="course-overview">
								<div class="card-body">
									{% if courseOverviews != None %}
										<div class="mt-1 mb-4">
											<h6 class="font-weight-semibold">Course overview</h6>
											{% for courseOverview in courseOverviews %}
												<p>{{courseOverview.description}}</p>
											{% endfor %}
										</div>
									{% endif %}
									{% if whatYouWillLearns != None %}
										<h6 class="font-weight-semibold">What you will learn</h6>
										{% for whatYouWillLearn in whatYouWillLearns %}
											<p class="mb-3">{{whatYouWillLearn.description}}</p>
										{% endfor %}
									{% endif %}
									<div class="row">
										<div class="col-sm-6">
											<div class="mb-4">
												<dl>
													{% if courseDescs != None %}
														{% for courseDesc in courseDescs %}
															<dt class="font-size-sm font-weight-bold text-uppercase">
																<i class="icon-checkmark3 text-primary mr-2"></i>
																{{courseDesc.title}}
															</dt>
															<dd>{{courseDesc.description}}</dd>
														{% endfor %}
													{% endif %}
					                            </dl>
				                            </div>
										</div>
										<div class="col-sm-6 ">
											<div class="mb-4 ">
												<dl>
													{% if courseDescsImages != None %}
														{% for courseDescsImage in courseDescsImages %}
															<dt class="font-size-sm font-weight-bold text-uppercase">
																<i class="icon-checkmark3 text-primary mr-2"></i>
																Misunderstood cuffed more depending
															</dt>
															<img src={{courseDescsImage.image}}  class="video player__video viewer">
															<br>
															<br>
															<dd>{{courseDescsImage.description}}</dd>
														{% endfor %}
													{% endif %}
					                            </dl>
				                            </div>
										</div>
				                    </div>
									{% if coursePrograms != None %}
				                    	<h6 class="font-weight-semibold">Course program</h6>
										{% for courseProgram in coursePrograms %}
											<p class="mb-3">{{courseProgram.description}}</p>
										{% endfor %}
									{% endif %}
								</div>

								{% if chapitres != None %}
									<div class="table-responsive">
										<table class="table table-striped">
											<thead>
												<tr>
													<th>Name</th>
													<th>Description</th>
													<th>Duration</th>
													<th>Status</th>
													<th>Date</th>
												</tr>
											</thead>
											<tbody>
												{% for chapitre_i in chapitres %}
													<tr>
														<td><a href="{% url 'chapitre' lecon.id chapitre_i.id %}">{{chapitre_i.name_chapitres}}</a></td>
														<td>{{chapitre_i.introduction}}</td>
														<td>{{chapitre.duree}}</td>
														{%  if chapitre_i.status == 1 %}
														<td><span class="badge badge-secondary">En cours</span></td>
														{% elif chapitre_i.status == 2 %}
														<td><span class="badge badge-primary">Términé</span></td>
														{% else %}
														<td><span class="badge badge-danger">Non démaré</span></td>
														{% endif %}
														<td>Oct 21st, 2016</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
									</div>
								{% endif %}
							</div>
							<div class="tab-pane fade" id="course-pdf">
								<div class="card-body">
									<div class="schedule">course-pdf
										<embed src="https://valactif-crm1.s3.eu-west-3.amazonaws.com/Media/PDF-lecons/DocTest.pdf" width=1500 height=1000 type='application/pdf'/>
									</div>
								</div>
							</div>
							<div class="tab-pane fade" id="course-notes">
								<div class="card-body">
									<div class="schedule">course-notes</div>
								</div>
							</div>
							<div class="tab-pane fade" id="course-discussions">
								<div class="card-body">
									<div class="schedule">course-discussions</div>
								</div>
							</div>
							<div class="tab-pane fade" id="course-ressources">
								<div class="card-body">
									<div class="schedule">course-ressources</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /course overview -->
				</div>
				<!-- /content area -->
			</div>
			<!-- /inner content -->
		</div>
		<!-- /main content -->
		<!-- Right sidebar -->
		<div class="sidebar sidebar-light sidebar-right sidebar-expand-lg">

			<!-- Expand button -->
			<button type="button" class="btn btn-sidebar-expand sidebar-control sidebar-right-toggle">
				<i class="icon-arrow-right13"></i>
			</button>
			<!-- /expand button -->


			<!-- Sidebar content -->
			<div class="sidebar-content">

				<!-- Header -->
				<div class="sidebar-section sidebar-section-body d-flex align-items-center pb-0">
					<h5 class="mb-0">Overview</h5>
					<div class="ml-auto">
						<button type="button" class="btn btn-outline-light text-body border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-right-toggle d-none d-lg-inline-flex">
							<i class="icon-transmission"></i>
						</button>

						<button type="button" class="btn btn-outline-light text-body border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-right-toggle d-lg-none">
							<i class="icon-cross2"></i>
						</button>
					</div>
				</div>
				<!-- /header -->


				<!-- Details -->
				<div class="sidebar-section mb-2">
					<div class="sidebar-section-body">
						<a href="#" class="btn btn-primary btn-block">Take course</a>
					</div>

					<table class="table table-borderless table-xs">
						<tbody>
							<tr>
								<td>Duration:</td>
								<td class="font-weight-semibold text-right">{{lecon.duree}}</td>
							</tr>
							<tr>
								<td>Status:</td>
								<td class="text-right">
									<span class="badge badge-primary">Registration</span>
								</td>
							</tr>
							<tr>
								<td>Lessons:</td>
								<td class="font-weight-semibold text-right">{{lecon.nbr_chapitres}} Lessons</td>
							</tr>
							<tr>
								<td>Trainer:</td>
								<td class="font-weight-semibold text-right"><a href="#">Eugene Kopyov</a></td>
							</tr>
							<tr>
								<td>Attendees:</td>
								<td class="font-weight-semibold text-right">{{lecon.duree}}</td>
							</tr>
							<tr>
								<td>Rating:</td>
								<td class="text-right text-muted">
									<i class="icon-star-full2 font-size-base text-warning"></i>
									<i class="icon-star-full2 font-size-base text-warning"></i>
									<i class="icon-star-full2 font-size-base text-warning"></i>
									<i class="icon-star-full2 font-size-base text-warning"></i>
									<i class="icon-star-full2 font-size-base text-warning"></i>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /details -->


				<!-- Attendees -->
				<div class="sidebar-section">
					<div class="sidebar-section-header">
						<span class="font-weight-semibold">Course : </span>
					</div>

					<div class="sidebar-section-body">
						<ul class="media-list">
							{% for chapitre in chapitres %}
							<li class="media">
								<a href="#" class="mr-3">
									<img src="{% static 'images/video (1).png' %}"  width="40" height="40" class="rounded-circle" alt="">
								</a>

								<div class="media-body">
									<a class="font-weight-semibold" href="{% url 'chapitre' lecon.id chapitre.id %}">{{chapitre.name_chapitres}}</a>
								</div>

								<div class="ml-3 align-self-center">
									<div class="dropdown">
									<!--- <a href="#" class="text-body" data-toggle="dropdown"><i class="icon-more2"></i></a> -->
									</div>
								</div>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
				<!-- /attendees -->


				

			</div>
			<!-- /sidebar content -->

		</div>
		<!-- /right sidebar -->
	</div>
	<!-- /page content -->
</body><!-- Global stylesheets -->
<!-- /theme JS files -->
</html>

{% endblock %}
