{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Valactif Learning</title>

	<!-- Global stylesheets -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
	<link href="{% static 'css/icons/icomoon/styles.min.css' %}" rel="stylesheet" type="text/css"> 
	<link href="{% static 'css/all.min.css' %}" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="{% static 'js/main/jquery.min.js' %}"></script>
	<script src="{% static 'js/main/bootstrap.bundle.min.js' %}"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="{% static 'js/app.js' %}"></script>
	<!-- /theme JS files -->

</head>
<body>
      {% include 'partials/navBar.html' %}
      <div class="page-container">
         <!-- Page content -->

         <div class="page-content">
         {% include 'partials/sideBar.html' %}
            <!-- Main content -->
            <div class="content-wrapper">
               <!-- Page header -->
               <!-- /page header -->
               <!-- Content area -->
               {% block content %}{% endblock %}
               <!-- /content area -->
            </div>
            <!-- /main content -->
         </div>
         <!-- /page content -->
      </div>
      <!-- /page container -->
      <!-- /page container -->
   </body>
</html>
